
* {
  box-sizing: border-box;
	display: block;
}

body {
    background-color: #fff;
		font-size: 16px;
    line-height: 15em;
    width: 575px;
    border:0px;
    padding: 50px 10px 50px;
    margin: 0px 200px 0px;
}

@media screen and (min-width: 575px) {
  body {
  background-color: #fff;
 }
 @media screen and (min-width: 1199px) {
   body {
     background-color: #fff;
   }
 }
}

h1 {
	font-family: sans-serif;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
  background-color: #dadada;
}

h2 {
	text-indent: 30px;
	font-size: 1.3em;
  padding-bottom: 250px;
}
.preview {
  border-top-style: solid;
  border-color: #dadada;
  border-width: 30px;
}
.baku {
	background-image: url("../images/baku.jpg");
  background-size: cover;
}

.london {
  background-image: url("../images/london.png");
  background-size: cover;
}

.madrid {
  background-image: url("../images/madrid.jpg");
  background-size: cover;
}

.rome {
  background-image: url("../images/rome.jpg");
  background-size: cover;
}
